.lazy-container * {
    transition: opacity 500ms ease-out;
    position: absolute;
    top: 0;
    left: 0;
}

.lazy-container {
    position: relative;
}

.lazy-container img.lazyload-original,
.lazy-container img.lazyload-hide {
    opacity: 0;
}

.lazy-container img.lazyload-placeholder,
.lazy-container img.lazyload-show,
.lazy-picture.lazy-loaded{
    opacity: 1;
}

.lazy-container img.lazyload-show {
    position: initial;
}

.lazy-picture {
    transition: opacity 500ms ease-out;
    opacity: 0;
}
